<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="'/APIstyle.css'" href="/static/APIstyle.css"/>-->
    <link rel="stylesheet" th:href="'/alternativ.css'" href="/alternativ.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous" />
    <style>
    p {
        color: black;
        font-size: 18px;
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-right: 1em;
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PushSL</title>
</head>

<body id="customBody">

<div id="backgroundOne" class="invisible">
    <form>
        <div class="progress col-12 col-lg-4" id="progressWrapper">
            <div class="progress-bar" id="searchProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </form>
</div>

<div id="mainContainer" class="row d-flex justify-content-center">
    <div id="secondContainer" class="col-11 col-lg-6">
        <div id="form-headerContainer">
            <header th:replace="header :: header">
            </header>
            <div id="formDiv" class="text-white">
                <form>
                    <div class="form-group">
                        <label>Om Push SL</label>
                        <div id="resultDiv" class="resultDiv"><p>Push SL är en applikation för att estimera SL:s kollektivtrafik mer
                            noggrant och bygger på data från SL:s öppna API:er. Push SL kan givetvis användas som en
                            vanlig resehanterare men det primära med applikationen är att du som användare kan ta del av SL:s realtidsdata.
                            <br><br>
                            Realtidsdatan presenteras via en nedräknare på hemsidan och det finns också möjlighet att
                            få en påminnelse via mail från en önskad avgång. Push SL erbjuder realtidsdata från bussar,
                            pendeltåg och tunnelbanor från samtliga avgångar inom SL:s kollektivtrafik.
                            <br><br>
                            XOXO
                            <br>
                            Push SL Crew
                        </p></div>
                    </div>
                </form>
            </div>
        </div>
        <div id="listBottom" class="row d-flex justify-content-center">
            <a href="/" class="h3 text-white my-4">Tillbaka</a>
        </div>
    </div>
</div>

</body>
</html>