<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" th:href="'/APIstyle.css'" href="/static/APIstyle.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"/>
    <meta charset="UTF-8">
    <title>PushSL</title>
</head>
<body id="customBody">
<div id="mainContainer" class="container d-flex justify-content-center">
    <div id="secondContainer" class="col-12 col-lg-8">
        <div id="form-headerContainer">
            <header th:replace="/header :: header">
            </header>
            <div id="formDiv" class="text-white">
                <form>
                    <div class="form-group">
                        <label>Från:</label>
                        <input class="form-control" type="text" name="from"/>
                    </div>
                    <div class="form-group">
                        <label>Till:</label>
                        <input class="form-control" type="text" name="to"/>
                    </div>
                    <div class="form-group">
                        <label>När vill du åka?</label>
                        <div class="form-inline d-flex flex-column flex-lg-row">
                            <input class="form-control col-lg-3 m-1" type="date" name="date"/>
                            <input class="form-control col-lg-2 m-1" type="time" name="time"/>
                            <button class="btn col-lg-2 m-1 align-self-end" type="submit">Sök</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div id="resultDiv" class="py-2 my-3" th:each="i : ${array}">
            <div th:replace="/trip :: trip"></div>
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>