<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
    <!--<link rel="stylesheet" th:href="'/APIstyle.css'" href="/static/APIstyle.css"/>-->
    <link rel="stylesheet" th:href="'/alternativ.css'" href="/static/alternativ.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>PushSL</title>
</head>

<body id="customBody">
    <div id="searchProgressBg" class="invisible">
        <form>
            <div class="progress col-12 col-lg-4" id="progressWrapper">
                <div class="progress-bar" id="searchProgressBar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </form>
    </div>
    <div id="reminderFormBg" class="invisible">
        <div id="reminderFormDiv" class="col-12 col-lg-4">
            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-danger" id="reminderCancel" type="button">
                    <i class="fas fa-times text-white"></i>
                </button>
            </div>
            <div class="justify-content-center d-flex">
                <p id="counterInfo">Avgång om</p>
                <p id="counter">00:00</p>
            </div>
            <div class="justify-content-center d-flex">
                <form id="reminderForm" class="col-12 col-lg-10 mb-5">
                    <input id="tripIndex" type="hidden" />
                    <div class="form-group">
                        <div id="emailForm" class="form-group myInvisible">
                            <div class="form-inline d-flex justify-content-center">
                                <span>Påminnelse&emsp;</span>
                                <input id="inputReminderMinutes" type="number" value="10" min="1" max="120" class="text-center form-control col-2" />
                                <span>&emsp;minuter</span>
                            </div>
                            <div class="form-group">
                                <label class="col text-center">innan avgång</label>
                                <input id="inputReminderEmail" type="email" class="form-control form-control-lg" placeholder="mail@exempel.com" />
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn col myInvisible btnHover" id="reminderOK" type="button">Påminn mig!</button>
                            <button class="btn col btnHover" id="btnOpenEmailForm" type="button">Påminnelse</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="mainContainer" class="row d-flex justify-content-center">
        <div id="secondContainer" class="col-11 col-lg-6">
            <div id="form-headerContainer">
                <header th:replace="/header :: header">
                </header>
                <div id="formDiv" class="text-white">
                    <form>
                        <div class="form-group">
                            <label>Från:</label>
                            <input id="inputOrigin" onkeyup="getOrigins()" class="form-control form-control-lg" type="text" name="from" list="originList"
                            />
                            <datalist id="originList"></datalist>
                        </div>
                        <div class="form-group">
                            <label>Till:</label>
                            <input id="inputDestination" onkeyup="getDests()" class="form-control form-control-lg" type="text" name="to" list="destList"
                            />
                            <datalist id="destList"></datalist>
                        </div>
                        <div class="form-group">
                            <label>När vill du åka?</label>
                            <div class="d-flex flex-column flex-lg-row">
                                <input id="date" class="text-center form-control col-12 col-lg-4 my-1 mr-lg-1 form-control-lg" type="date" name="date" />
                                <input id="time" class="text-center form-control col-12 col-lg-3 my-1 form-control-lg" type="time" name="time" />
                                <input id="btnSearch" class="btnHover btn col-12 col-lg-2 btn-lg my-1 ml-auto" type="button" value="Sök" />
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div id="listContainer">
                <div id="resultDiv" class="py-2 my-3 resultDiv" th:each="i : ${array}">
                    <div th:replace="/trip :: trip"></div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/static/js/main.js" th:src="'/js/main.js'"></script>
    <script>


    </script>
</body>

</html>