<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="tripDiv" data-toggle="collapse" th:href="'#detail'+${i}" class="m-4 text-white" th:fragment="trip">
    <p>
        <span>15:16</span> <i class="fas fa-long-arrow-alt-right"></i> <span>20:45</span>
    </p>
    <p>
        Restid:<span>26 min</span>
    </p>
    <p>
        <span>Kista</span> <i class="fas fa-long-arrow-alt-right"></i> <span>Slussen</span>
    </p>
    <div th:each="j : ${array}">
        <div th:replace="/tripdetail :: detail"></div>
    </div>
</div>

</body>
</html>